<html>
<footer>
    <div class="top-bar"></div>
    <div class="bottom-bar">
        <div id="footer-text">
            <p>✧</p>
            <p>✩</p>
            <p><em>© 2026 Julius Schultz</em></p>
            <p>✩</p> 
            <p>✧</p>
        </div>
    </div>
</footer>
</html>