<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
    <div id="logo">
        <h1>The Bzz Bee Blog</h1>
        <p>✩</p>
        <p>✧</p>
        <p>✩</p>
        <p>✧</p>
    </div>
        <div class="top-bar">
            <div id="menu">
                <h3>Under construction</h3>
                <ul>
                <li><a href="home.php">Home</a></li>
                <li>✧</li>
                <li><a href="../03-02-26/index.html">Latest Post</a></li>
                <li>✧</li>
                <li><a href="../all-posts/index.html">All Posts</a></li>
                <li>✧</li>
                <li><a href="../about/index.html">About</a></li>
                </ul>
        </div>
        <div class="bottom-bar"></div>
</body>
</html>