<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenSUSE - The Bzz Bee Blog</title>
    {%include "../_includes/header.njk"%}
</head>
<body>
    <div id="content">
        {%include "../posts/m-03-02-26.md"%}
    {%include "../_includes/footer.njk"%}
</body>
</html>