<!DOCTYPE html>
<html lang="en">
<head>
    <title>OpenSUSE - The Bzz Bee Blog</title>
    {%include "../_includes/header.njk"%}
</head>
<body>
    <div id="content">
        <div id="heading">
            <div id="post-title"><h2>About Me<h2></div>
        </div>
        <p>✩ Hey, Julius here. Welcome to my personal computer nerd blog,
        created on Feburary 28 2026. All my skills are self-taught. 
        Currently just a hobby, but it would be cool to transfer my 
        skills into a career. I am an experienced linux user. My distro 
        of choice is OpenSUSE Tumbleweed (very underrated), with 
        hyprland.<br></p>
        <p>✩ More about me:</p>
        <p>
        ✧ Birthdate: May 16 2004<br>
        ✧ Country: United States (ugh)<br>
        ✧ Favorite colors: teal, emerald, matcha<br>
        ✧ Current favorite video game: Deep Rock Galactic<br>
        ✧ Email for questions & comments: <address>bzzbee@tutamail.com</address>
        </p>
    </div>
    {%include "../_includes/footer.njk"%}
</body>
</html>
