<!DOCTYPE html>
<html lang="en">
<head>
    <title>Index - The Bzz Bee Blog</title>
    {%include "../_includes/header.njk"%}
    <style>p {color:rgb(180,180,180);}</style>
</head>
<body>
    <p>The Index!</p>
    {%include "../_includes/footer.njk"%}
</body>
</html>