.yellow{
    background-color: rgba(120, 143, 50, 0.3);
    border:8px groove rgba(120, 143, 50, 0.5);
    color: rgb(160, 160, 160);
    font-family:'Courier New';
    font-size:130%;
    margin-left:15%;
    margin-right:15%;
    padding:1%;
}
.matcha{
    background-color: rgba(85, 140, 50, 0.3);
    border:8px groove rgba(85, 140, 50, 0.5);
    color: rgb(160, 160, 160);
    font-family:'Courier New';
    font-size:130%;
    margin-left:15%;
    margin-right:15%;
    padding:1%;
}
.green{
    background-color: rgba(50, 130, 65, 0.3);
    border:8px groove rgba(50, 130, 65, 0.5);
    color: rgb(160, 160, 160);
    font-family:'Courier New';
    font-size:130%;
    margin-left:15%;
    margin-right:15%;
    padding:1%;
}
.teal{
    background-color: rgba(50, 121, 100, 0.3);
    border:8px groove rgba(50, 121, 100, 0.5);
    color: rgb(160, 160, 160);
    font-family:'Courier New';
    font-size:130%;
    margin-left:15%;
    margin-right:15%;
    padding:1%;
}
.cyan{
    background-color: rgba(50, 105, 118, 0.3);
    border:8px groove rgba(50, 105, 118, 0.5);
    color: rgb(160, 160, 160);
    font-family:'Courier New';
    font-size:130%;
    margin-left:15%;
    margin-right:15%;
    padding:1%;
}