body{
    background:rgb(12, 12, 12);
}
#logo{
    font-size:160%;
    height:60px;
    display: inline;
}
#logo p{
    color: rgb(180, 180, 180);
    padding-left: 3%;
    padding-right:1%;
    margin-top:1%;
    display: inline-flex;
    font-size:80%;
}
img{
    margin-bottom:-50px;
    margin-left:10%;
    transform: scaleX(-1);
}
h1{
    text-shadow:
-12px 0 5px rgba(0, 95, 112,.9),
-18px 0 5px rgba(0, 140, 10, .9),
-25px 0 5px rgba(150, 150, 0, .9);
    color: rgb(180, 180, 180);
    letter-spacing: 2px;
    font-size:32px;
    font-family:'Courier New';
    margin-left: 6%;
    margin-bottom: -4px;
    display: inline-flex;
}
.top-bar{
    background:linear-gradient(to bottom,
rgb(12, 12, 12),rgba(25, 35, 35,.9));
    height: 60px;
    margin-bottom: -2px;
    margin-top: 1%;
}
.bottom-bar{
    display:inline-flexbox;
     background:linear-gradient(to top,
rgb(12, 12, 12),rgba(25, 35, 35,.9));
    height: 60px;
    margin-bottom: 1%;
}
#menu{
    text-align: right;
    display:inline-flexbox;
    margin-bottom: -70px;
    
}
h3{
    color: rgba(200,200,0,.8);
    letter-spacing: 1px;
    font-size:100%;
    font-style: italic;
    font-family:'Courier New';
    text-align: left;
    display: inline-flexbox;
    margin-left: 4%;
    margin-bottom: -10px;
    margin-top: -10px;
}
ul{
    list-style-type:none;
    display: inline-flexbox;
    text-align:right;
    margin-right: 4%;
    margin-left: -10%;
}
li {
    display:inline-flex;
    padding-left:1%;
    color:rgb(220, 220, 220);
    font-family:'Courier New';
}
li a{
    color:rgb(220, 220, 220);
    font-size: 90%;
    font-family:'Courier New';
}
#heading{
    display:inline-flexbox;
}
h2{
    color:rgb(93, 133, 86);
    font-size: 140%;
    font-family:'Courier New';
    display:inline;
    text-align:left;
    margin-left:10%;
}
#post-date{
    color:rgb(120, 120, 120);
    font-size: 80%;
    font-family:'Courier New';
    display:inline-flexbox;
    text-align:right;
    margin-right:16%;
    margin-top: -30px;
}
#content{
    background-color: rgb(15, 28, 26);
    border:8px ridge rgba(15, 28, 26,.3);
    color: rgb(160, 160, 160);
    font-family:'Courier New';
    font-size:100%;
    line-height: 150%;
    margin:5%;
    margin-top: 1%;
    margin-bottom: 3%;
    padding:3%;
}
#footer-text {
    color:rgb(180,180,180);
    font-family:'Courier New';
    text-align: center;
    display: inline-flexbox;
    }
#footer-text p{
    padding-left:1%;
    padding-right:1%;  
    display: inline-flex;
    font-size:100%;
    }
#footer-text em{
    font-size:80%;
    }